{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="feetable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Addmission Type</th>
                                    <th>Amount</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for fee in fee %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{fee.addmissiontype}}</td>
                                    <td>{{fee.amount}}</td>
                                    <td><a href="{% url 'edit_fee' fee.id %}" class="btn btn-primary">Edit</a> - <a href="{% url 'delete_fee' fee.id %}" onclick="return confirm('Are you sure you want to delete this ?')" class="btn btn-danger">Delete</a> </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block custom_js %}
<script>
    $(document).ready( function () {
        $('#feetable').DataTable();
    } );
  </script>
    {% endblock custom_js %}